body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.box {
    background: #fff;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: #333;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background: rgb(128, 255, 255);
}

.box span {
    font-size: 1.2em;
    color: #333;
}
footer {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .navbar h1 {
        margin: 0;
    }
}
