@charset "UTF-8";

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

.navbar {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	background: rgb(13, 20, 42);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	color: white;
}

.navbar h1 {
	font-size: 1.5em;
	color: black;
}

.navbar ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

.navbar a {
	text-decoration: none;
	color: white;
	font-weight: 600;
}

.navbar a i {
	margin-right: 8px;
}

.logo img {
	height: 50px;
}